In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import json
import signal
import sys
import datetime
import time

from pathlib import Path
from IPython.display import HTML, display, clear_output, display_html
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq
from feast import FeatureStore
from feast.data_source import PushMode

from typing import List
import pprint

pd.set_option('display.max_rows', 100)

In [6]:
try:
    repo_path = Path("./src/feature_repo/")
    fs = FeatureStore(repo_path=str(repo_path.resolve()))
except Exception as e:
    print(e)

In [50]:
#fs.teardown()
# fs.write_to_online_store

In [7]:
from feature_repo.fraud_data import all_entities

In [8]:
fs.apply(all_entities)

WARNING:root:Cannot use sqlite_vec for vector search

In [6]:
entities = fs.list_entities()
print(entities)

[Entity(
    name='auth_attempt',
    value_type=<ValueType.STRING: 2>,
    join_key='user_id',
    description='',
    tags={},
    owner='',
    created_timestamp=datetime.datetime(2024, 12, 6, 23, 8, 1, 311785),
    last_updated_timestamp=datetime.datetime(2024, 12, 6, 23, 8, 1, 311785)
)]

In [8]:
#fs.list_feature_views()

In [27]:
df = fs.get_online_features(
        features=[
            "auth_attempt_view_w1:1_total",
            "auth_attempt_view_w1:1_success",
            "auth_attempt_view_w1:1_ratio",
        ],
        entity_rows=[{"user_id": f"user_{i:03d}"} for i in range(0, 10)],
    ).to_df()
df

    user_id   1_ratio  1_total  1_success
0  user_000  1.000000        1          1
1  user_001  0.000000        2          0
2  user_002  0.666667        3          2
3  user_003  1.000000        1          1
4  user_004  0.500000        2          1
5  user_005  1.000000        1          1
6  user_006  0.000000        1          0
7  user_007  1.000000        1          1
8  user_008  0.666667        3          2
9  user_009  1.000000        1          1

In [35]:
features = []
for i in [1, 5, 10, 15]:
    features += [
        f"auth_attempt_view_w{i}:{i}_total",
        # f"auth_attempt_view_w{i}:{i}_success",
        # f"auth_attempt_view_w{i}:{i}_ratio",
    ]
features

['auth_attempt_view_w1:1_total',
 'auth_attempt_view_w5:5_total',
 'auth_attempt_view_w10:10_total',
 'auth_attempt_view_w15:15_total']

In [36]:
display_id = display("", display_id=True)

entity_rows = [
    {"user_id": f"user_{i:03d}"} for i in range(0, 10)
]
# print(entity_rows)

while True:
    feature_vector = fs.get_online_features(
        features=features,
        entity_rows=entity_rows,
    ).to_df()
    display_id.update(feature_vector)
    time.sleep(1)
    # clear_output()

    user_id  1_total  5_total  10_total  15_total
0  user_000      422     2186      4176      6022
1  user_001      452     2170      4142      6062
2  user_002      436     2128      4097      5967
3  user_003      419     2180      4161      6027
4  user_004      448     2177      4106      5994
5  user_005      413     2030      4075      6030
6  user_006      420     2156      4174      6111
7  user_007      393     2122      4104      6037
8  user_008      410     2141      4198      6090
9  user_009      432     2180      4126      6082

KeyboardInterrupt:

In [ ]:
from pipeline.stream_job import ds, pipelines
from typing import get_type_hints, List, Dict, Optional

from denormalized import Context, FeastDataStream

In [ ]:
ds.get_feast_schema()

In [ ]:
import pyarrow as pa

In [ ]:
pa.scalar(True)