In [7]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [8]:
import json
import signal
import sys
import datetime
import time

from pathlib import Path
from IPython.display import HTML, display, clear_output, display_html
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq
from feast import FeatureStore
from feast.data_source import PushMode

from typing import List
import pprint

pd.set_option('display.max_rows', 100)

In [9]:
try:
    repo_path = Path("./src/feature_repo/")
    fs = FeatureStore(repo_path=str(repo_path.resolve()))
except Exception as e:
    print(e)

In [ ]:
features = []
for i in [1, 5, 10, 15]:
    features += [
        f"auth_attempt_view_w{i}:{i}_total",
        # f"auth_attempt_view_w{i}:{i}_success",
        # f"auth_attempt_view_w{i}:{i}_ratio",
    ]

display_id = display("", display_id=True)

entity_rows = [
    {"user_id": f"user_{i:03d}"} for i in range(0, 10)
]

while True:
    feature_vector = fs.get_online_features(
        features=features,
        entity_rows=entity_rows,
    ).to_df()
    display_id.update(feature_vector)
    time.sleep(1)

    user_id  1_total  5_total  10_total  15_total
0  user_000        7       47        89       126
1  user_001        7       29        74       118
2  user_002       16       48        83       138
3  user_003        5       29        75       110
4  user_004        8       38        75       125
5  user_005       11       44        77       118
6  user_006       10       42        81       117
7  user_007        9       39        71       108
8  user_008        2       38        83       112
9  user_009       11       45        83       122

WARNING:root:Cannot use sqlite_vec for vector search