In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import json
import signal
import sys
import datetime
import time

from pathlib import Path
from IPython.display import HTML, display, clear_output, display_html
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq
from feast import FeatureStore
from feast.data_source import PushMode

from typing import List
import pprint

pd.set_option("display.max_rows", 100)

In [3]:
try:
    repo_path = Path("./src/feature_repo/")
    fs = FeatureStore(repo_path=str(repo_path.resolve()))
except Exception as e:
    print(e)

In [ ]:
features = []
for i in [1, 5, 10, 15]:
    features += [
        f"auth_attempt_view_w{i}:{i}_total",
        # f"auth_attempt_view_w{i}:{i}_success",
        # f"auth_attempt_view_w{i}:{i}_ratio",
    ]

display_id = display("", display_id=True)

entity_rows = [{"user_id": f"user_{i:03d}"} for i in range(0, 10)]

while True:
    try:
        feature_vector = fs.get_online_features(
            features=features,
            entity_rows=entity_rows,
        ).to_df()
    except Exception as e:
        print(e)
        print("Re-trying in 5s")
        time.sleep(5)
    display_id.update(feature_vector)
    time.sleep(1)

    user_id  1_total  5_total  10_total  15_total
0  user_000        4       24        47        74
1  user_001        3       30        54        75
2  user_002        2       16        45        61
3  user_003        5       23        45        72
4  user_004        9       26        56        82
5  user_005        1       24        49        63
6  user_006        8       29        57        89
7  user_007        7       23        49        67
8  user_008        5       32        61        89
9  user_009        4       21        46        77

unable to open database file
Re-trying in 5s
disk I/O error
Re-trying in 5s
disk I/O error
Re-trying in 5s