In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import json
import signal
import sys
import datetime
import time

from pathlib import Path
from IPython.display import HTML, display, clear_output, display_html
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq
from feast import FeatureStore
from feast.data_source import PushMode

from typing import List
import pprint

pd.set_option("display.max_rows", 100)

In [3]:
try:
    repo_path = Path("./src/feature_repo/")
    fs = FeatureStore(repo_path=str(repo_path.resolve()))
except Exception as e:
    print(e)

In [ ]:
features = []
for i in [1, 5, 10, 15]:
    features += [
        f"auth_attempt_view_w{i}:{i}_total",
        # f"auth_attempt_view_w{i}:{i}_success",
        # f"auth_attempt_view_w{i}:{i}_ratio",
    ]

display_id = display("", display_id=True)

entity_rows = [{"user_id": f"user_{i:03d}"} for i in range(0, 15)]
feature_vector = None
while True:
    try:
        feature_vector = fs.get_online_features(
            features=features,
            entity_rows=entity_rows,
        ).to_df()
    except Exception as e:
        print(e)
        print("Re-trying in 5s")
        time.sleep(5)
    display_id.update(feature_vector)
    time.sleep(1)

     user_id  1_total  5_total  10_total  15_total
0   user_000        3       23        53        79
1   user_001        8       34        57        82
2   user_002       10       22        48        81
3   user_003        3       31        56        85
4   user_004        6       23        42        71
5   user_005        7       24        50        74
6   user_006        7       24        49        76
7   user_007        4       18        47        71
8   user_008        3       26        46        71
9   user_009        4       36        65        90
10  user_010        5       31        61        82
11  user_011        5       22        45        71
12  user_012        6       28        48        71
13  user_013        5       27        48        66
14  user_014        6       33        64        99

WARNING:root:Cannot use sqlite_vec for vector search